[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kfp = "*"
kfp-kubernetes = "*"
python-dotenv = "*"
scikit-learn = "*"
pandas = "*"
skl2onnx = "*"
onnxruntime = "*"
imblearn = "*"
omlmd = "*"

[dev-packages]

[requires]
python_version = "3.11"
